In [2]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\augustus\anaconda3\lib\site-packages (0.3.9)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\augustus\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython>=1.0 in c:\users\augustus\anaconda3\lib\site-packages (from ipython-sql) (7.8.0)
Requirement already satisfied: sqlparse in c:\users\augustus\anaconda3\lib\site-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\augustus\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in c:\users\augustus\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\augustus\anaconda3\lib\site-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\augustus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.1)
Requirement already satisfied: jedi>=0.10 in c:\users\augustus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.15.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\augustus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: decorator in c:\users\augustus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: pygments in c:\users\augustus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.4.2)
Requirement already satisfied: backcall in c:\users\augustus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in c:\users\augustus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.0.10)
Requirement already satisfied: pickleshare in c:\users\augustus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\augustus\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (41.4.0)
Requirement already satisfied: parso>=0.5.0 in c:\users\augustus\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.5.1)
Requirement already satisfied: wcwidth in c:\users\augustus\anaconda3\lib\site-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.1.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext sql

In [89]:
%%sql sqlite://
DROP TABLE Student;
CREATE TABLE Student(
        Student_ID INTEGER NOT NULL,
        First_Name TEXT NOT NULL,
        Last_Name TEXT,
        Scabbyness REAL 
);
SELECT * FROM Student

Done.
Done.
Done.

[]

In [90]:
%%sql
INSERT INTO Student
VALUES
    (1,"John", "S", 0.12),
    (2, "Matt", "S", 1 ),
    (3,"John", "K", 1);

 * sqlite://
3 rows affected.

[]

In [97]:
%%sql 
SELECT *
FROM Student
GROUP BY Student_ID
HAVING First_Name = "John" AND Scabbyness = "1"

 * sqlite://
Done.

[(3, 'John', 'K', 1.0)]

In [120]:
%%sql 
DROP TABLE IF EXISTS Scabs;
CREATE TABLE Scabs (Student_ID INTEGER NOT NULL,
        First_Name TEXT NOT NULL,
        Last_Name TEXT,
        Scabbyness REAL 
);

INSERT INTO Scabs ( Student_ID, First_Name )
SELECT Student_ID, First_Name
FROM Student
GROUP BY Student_ID
HAVING Scabbyness > .5

 * sqlite://
Done.
Done.
2 rows affected.

[]

In [130]:
%%sql 
SELECT Student_ID, First_Name
FROM Scabs
ORDER BY Student_ID DESC

 * sqlite://
Done.

[(3, 'John'), (2, 'Matt')]

In [136]:
%%sql
SELECT * FROM Student WHERE ("Student_ID" % 2) = 0 OR ("Student_ID" % 3) = 0

 * sqlite://
Done.

[(2, 'Matt', 'S', 1.0), (3, 'John', 'K', 1.0)]